<footer class="main-footer">
  <div class="pull-right hidden-xs"><b>Version</b> 1.0</div>
  <strong
    >Copyright &copy; 2018-2019<a
      href="https://www.linkedin.com/in/bruno-batista-030b5a54/"
    >
      bbnsdevelop</a
    >.</strong
  >
  All rights reserved.
</footer>
