<div [ngClass]="classCss" role="alert" *ngIf="message">
  <span> {{ message.text }}</span>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">User List</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Item</th>
            <th>Email</th>
            <th>Profile</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
          </tr>
          <tr *ngFor="let user of listUser, let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile }}</td>
            <td><button class="btn btn-primary" (click)="edit(user.id)">Edit</button></td>
            <td><shared-modal [userModal]="userClick" [isUserModal]="true" [ticketModal]="null" [isTicketModal]="false" (click)="getUser(i, $event)"></shared-modal></td>
            <!--<td><button class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>-->
          </tr>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviosPage($event)">&laquo;</a></li>
          <li *ngFor="let page of pages; let i = index">
            <a href="" (click)="setPage(i, $event)">{{i + 1}}</a>
          </li>
          <li><a [ngClass]="getClassPage()" href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <app-details-user></app-details-user>
</div>
