<div class="col-md-9" style="margin-left:0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">New Ticket</h3>
      </div>
      <form class="form-horizontal" [formGroup]="ticketNewFormulario" (ngSubmit)="register()">
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <span> {{ message.text }}</span>
        </div>
        <div class="box-body">
          <div [ngClass]="getClassFormGroupClass(ticketNewFormulario.get('title').invalid, ticketNewFormulario.get('title').dirty)" >
            <label for="inputTitlel3" class="col-sm-2 control-label">Title</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTitlel3" placeholder="Title" formControlName="title" required >
              <span class="help-block" *ngIf="ticketNewFormulario.get('title').invalid && ticketNewFormulario.get('title').dirty">Title is required</span>
            </div>
          </div>
          <div [ngClass]="getClassFormGroupClass(ticketNewFormulario.get('priority').invalid, ticketNewFormulario.get('priority').dirty)">
              <label for="inputPriority3" class="col-sm-2 control-label">Priority</label>

              <div class="col-sm-10">
                <select class="form-control" id="inputPriority3" formControlName="priority" style="width: 100%" >
                  <option *ngFor="let priority of priorities" [value]="priority.descriptionBack">{{priority.descriptionView}}</option>
                </select>
                  <span class="help-block" *ngIf="ticketNewFormulario.get('priority').invalid && ticketNewFormulario.get('priority').dirty">Priority is riquired</span>
              </div>
          </div>


          <div [ngClass]="getClassFormGroupClass(ticketNewFormulario.get('description').invalid, ticketNewFormulario.get('description').dirty)">
              <label for="inputDescriptionl3" class="col-sm-2 control-label">Description</label>

              <div class="col-sm-10">
                <textarea type="text" rows="3" class="form-control" id="inputDescriptionl3" placeholder="Description" formControlName="description" required maxlength="80" minlength="5" >

                </textarea>
                <span class="help-block" *ngIf="ticketNewFormulario.get('description').invalid && ticketNewFormulario.get('description').dirty">Description is required</span>
              </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8" >
                <input type="file" (change)="onFileChange($event)" id="inputImage" placeholder="Image" formControlName="image" required >
                <div *ngIf="ticket.image">
                  <img src={{ticket.image}} width="30%" height="50%" style="margin-top: 5px;"/>
                </div>
              </div>
          </div>

        </div>
        <div class="box-footer" *ngIf="!update">
          <button type="submit" [disabled]="!ticketNewFormulario.valid" class="btn btn-info pull-right">Create</button>
        </div>
        <div class="box-footer" *ngIf="update">
          <app-modal-redirect [userModal]="null" [modalIsUser]="false" [ticketModal]="ticket" [modalIsTicket]="true" ></app-modal-redirect>
          <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
      </form>
    </div>
  </div>
