<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared?.user?.profile == 'ADMIN' ">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="/user/list"><i class="fa fa-circle-o"></i> List</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/user"><i class="fa fa-circle-o"></i> New Users</a>
          </li>
        </ul>
      </li>
      <li class="treeview" *ngIf="shared?.user?.profile != 'ADMIN' ">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Ticket</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/ticket/list"><i class="fa fa-circle-o"></i> List</a
            >
          </li>
          <li *ngIf="shared?.user?.profile == 'CUSTOMER' ">
            <a routerLink="/ticket"><i class="fa fa-circle-o"></i> New Ticket</a
            >
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Summary</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/summary"
              ><i class="fa fa-circle-o"></i> To view</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
