<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (click)="close()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="userComponent && isUser">
        <div *ngIf="!closePopup">
          <p>Do you want to delete the user?</p>
          <p>Use: {{ userComponent.email }}</p>
          <p>Profile: {{ userComponent.profile }}</p>
        </div>
        <div [ngClass]="classCss" role="alert" *ngIf="message">
            <h3>Message</h3>
            <span> {{ message.text }}</span>
        </div>
      </div>
      <div class="modal-body" *ngIf="ticketComponent && isTicket">
          <div *ngIf="!closePopup">
            <p>Do you want to delete the title?</p>
            <p>Title: {{ ticketComponent.title }}</p>
            <p>Number: {{ ticketComponent.number }}</p>
          </div>
          <div [ngClass]="classCss" role="alert" *ngIf="message">
              <h3>Message</h3>
              <span> {{ message.text }}</span>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="!closePopup">Cancel</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()" *ngIf="closePopup">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()" *ngIf="!closePopup">Delete</button>
      </div>
    </div>
  </div>
</div>
