<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="margin-left: 4px;" data-toggle="modal" data-target="#changesModal">
    {{ title }}
  </button>

  <!-- Modal -->
  <div class="modal fade" id="changesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="ticketComponent && isTicket">
          <div *ngIf="!closePopup">
            <p>Are you {{ action}}</p>
            <p>Ticket: {{ ticketComponent.number }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="changeStatus()">Assigned</button>
        </div>
      </div>
    </div>
  </div>
