<div class="col-md-6" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
    </div>
    <form class="form-horizontal" [formGroup]="userNewFormulario" (ngSubmit)="register()">
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <span> {{ message.text }}</span>
      </div>
      <div class="box-body">
        <div [ngClass]="getClassFormGroupClass(userNewFormulario.get('email').invalid, userNewFormulario.get('email').dirty)">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" formControlName="email" required>
            <span class="help-block" *ngIf="userNewFormulario.get('email').invalid && userNewFormulario.get('email').dirty">Email is invalid</span>
          </div>
        </div>
        <div [ngClass]="getClassFormGroupClass(userNewFormulario.get('password').invalid, userNewFormulario.get('password').dirty)">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

          <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password" required>
              <span class="help-block" *ngIf="userNewFormulario.get('password').invalid && userNewFormulario.get('password').dirty">Passowrd is riquired</span>
          </div>
        </div>
        <div [ngClass]="getClassFormGroupClass(userNewFormulario.get('profile').invalid, userNewFormulario.get('profile').dirty)">
          <label for="inputProfile3" class="col-sm-2 control-label">Profile</label>

          <div class="col-sm-10">
            <select class="form-control" id="inputProfile3" formControlName="profile" style="width: 100%">
              <option *ngFor="let profile of profiles" [value]="profile.profile">{{profile.description}}</option>
            </select>
              <span class="help-block" *ngIf="userNewFormulario.get('profile').invalid && userNewFormulario.get('profile').dirty">Profile is riquired</span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!userNewFormulario.valid" class="btn btn-info pull-right">Create</button>
      </div>
    </form>
  </div>
