<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
    Return
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="userComponent && isUser">
          <div *ngIf="!closePopup">
            <p>When you redirect to the user list without saving? </p>
            <p>Your changes will be lost. Do you want to redirect?</p>
            <p>Use: {{ userComponent.email }}</p>
          </div>
        </div>
        <div class="modal-body" *ngIf="ticketComponent && isTicket">
          <div *ngIf="!closePopup">
            <p>When you redirect to the ticket list without saving? </p>
            <p>Your changes will be lost. Do you want to redirect?</p>
            <p>Ticket: {{ ticketComponent.title }}</p>
          </div>
        </div>
        <div class="modal-body" *ngIf="ticketComponent == null && isTicket">
          <div *ngIf="!closePopup">
            <p>Are you want redirect to tickets list ? </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="rertunToList()">OK</button>
        </div>
      </div>
    </div>
  </div>
